.cabecalho___menu-hamburguer{
    width: 24px;
    height: 24px;
    background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ6RPT9-BT2dDlhTzqYIQ98i9FYH9hlRZwkiKddMzAkVLO5zj03qieNrL-9ZbjZxVQ_1vI&usqp=CAU");
    display: inline-block;
}

.container__imagem{
    width: 40px;
}