
root {
    --cor-de-fundo: #7fcaec;
    }
    body {
        background-color: var(--cor-de-fundo);}
    .img1 {
        width: 20%;
        display:flex;
    }
    .img1{
        width: 10%;
        display: flex;
    }