:root {
    --cor-de-fundo: #EBECEE;
    --branco: #FFFFFF;

    }
    .lista-menu {
        display: none;
        }
    body {
        background-color: var(--cor-de-fundo);
        }
        .cabeçalho__menu-hamburguer {
            width: 24px;
            height: 24px;
            background-image: url(“../img/Menu.svg”);
            background-repeat: no-repeat;
            background-position: center;
            display: inline-block;
      }
